{% extends "layout.html" %}

{% block content %}


<h1 id="about_us" class="font-effect-3d"><u>About us</u></h1>

<body>


<div id="about">
<i>It doesn’t matter what model you drive. Whether you’re driving your first Bimmer, or your thirtieth,
there are just certain subjects that interest only BMW owners. BMW CCA is where we explore all of
them; it is where we fuel our passion for the marque with friendship, family and fun!
Our official mission is: to enhance the BMW experience for our members by providing services, support,
information, and activities that promote camaraderie and encourage social awareness and
responsibility. Unofficially, we’re a big support group for the Ultimate Driving Machine addiction.
At the heart of our values is the promotion of motoring citizenship, lifelong driving skills and
social responsibility. We live those values by actively supporting the BMW Car Club of America
Foundation and its Tire Rack Street Survival Program.</i>

<br><p></p>

<i>With over 1.3 million part numbers in our catalog and a modern facility, Swapportunities is a truly
unique company. An active and fully engaged management team closely monitors all business
functions. The early business plan remains, with refinements based on statistical analysis
of daily operations and customer feedback.

All operations are handled in house. Everything. Web design and programming, marketing
and photography, inventory management and shipping, product applications, customer service
and tech support, and research and development tasks are all performed by Swapportunities employees.

As we move deeper into the 21st century, we cling to old values, remembering our roots,
even as we embrace change.

That's why we still answer the phone, an increasingly rare service in a world of
automated phone-bots (which would be cheaper for us, but a lot more aggravating for you).
Our skilled and pleasant live support staff is ready to assist you from 8:00 a.m. to
11 p.m. EST (Monday - Friday) and 10:00 a.m. to 7:00 p.m. EST (Saturday).

That's why we tweak and polish the web site interface to improve navigation, and streamline
the ordering process.
</i></div>

<div class="clearfix">
  <div class="img-container">
    <img id="ecs" src="/static/images/ECS-Tuning-850x500.jpg" style="width:85%">
  </div>
</div>

</body>

<!-- confirmation pop up for logout -->
<script type='text/javascript'>

    function confirmLogout(){
        var agree = confirm("Are you sure you want to logout?");

        if(agree){
            return true;

            }else{

            return false;
        }
    }
</script>

{% endblock content %}