
{% extends "layout.html" %}

{% block content %}
<!-- parts/products page -->
<div id="laugh">
  <h3 class="font-effect-fire-animation" id="fire">Fire Sale Item!</h3>
    <img src="/static/images/m3kit.png" id="m3kit">
    <h3 id="meg">M3 Replica Bodykit</h3>
    <h4 id="megs">Price: $599.99</h4><p>%10 off <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Add</button></p>
</div>

<div id="cry">
    <img src="/static/images/vvti-2jz-supra-engine-for-sale2.jpg" id="m3kits">
    <h3 id="lois">Inline 6 VVTi 2JZ</h3>
    <h4 id="louis">Price: $2,599.99</h4>
    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Add</button>
</div>

<!-- confirmation pop up for logout -->
<script type='text/javascript'>

    function confirmLogout(){
        var agree = confirm("Are you sure you want to logout?");

        if(agree){
            return true;

            }else{

            return false;
        }
    }
</script>

{% endblock content %}