{% extends "layout.html" %}
{% block content %}
    <div id="reg" class="content-section">
        <form method="POST" action="">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                  <legend id="join" class="font-effect-3d"><h1>Password Reset</h1></legend>

                  <div class="form-group">
                      {{ form.email.label(class="form-control-label") }}

                      {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                      {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
              </fieldset>
            <div id="butt" class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

<!-- confirmation pop up for logout -->
<script type='text/javascript'>

    function confirmLogout(){
        var agree = confirm("Are you sure you want to logout?");

        if(agree){
            return true;

            }else{

            return false;
        }
    }
</script>

{% endblock content %}
